@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');

body
{
    font-family: "Montserrat", sans-serif;
    height: 100vh;
}

.navbar-brand
{
  margin-left: 10%;
}

.navbar-nav
{
  margin-left: 50%;
}

.hero-image {
  background-image: linear-gradient(to right, rgba(105, 105, 105, 0.505), rgba(44, 44, 44, 0) ,rgba(0, 0, 0, 0.508)), url(img/bg.png);;
  height: 50vh;
  background-size: cover;
  background-position: center;
}

.hero-text {
  text-align: center;
  color: rgb(0, 0, 0);
}

  