@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');

body
{
    font-family: "Montserrat", sans-serif;
}

.navbar-brand
{
  margin-left: 10%;
}

.navbar-nav
{
  margin-left: 50%;
}


.nav-image 
{
  background-image: linear-gradient(to right, rgba(40, 40, 40, 0.438), rgba(75, 75, 75, 0.479) ,rgba(0, 0, 0, 0.508)), url(img/dark.jpg);;
  height: 50vh;
  background-attachment:fixed;
  margin-top: -50vh;
}

.hero-text {
  color: rgb(0, 0, 0);
  text-align: center;
}

  